html,
body {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    font-size: 13px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #E9E9E9;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #333;
    background:#333;
}

.navbar-inverse {
    background-color: #333;
    border-color: #333;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #272727;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.modal-backdrop {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #F7EE6C;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.btn-success {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.site-login{
   
    font-size:20px;   
    text-align: left;
    color:#FFF;
    background-color: #333;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 40px ;
    margin-left: 275px ;
    margin-right: 275px ;
}

.site-login2{
   
    text-align: center;
    background-color: #F7EE6C;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 275px ;
    margin-right: 275px ;
}

.btn-primary {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.image{
	padding-top: 0px;
	background-size: cover;
	background-size: 100% 100%
	background-position: center;
	background-image: url("/bir_dwts/frontend/web/masthead_bg_1190x120.png");	
}


